@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}

.menu {
    background-color: transparent;
    color: #000000;
    font-weight: 700;
    padding: 20px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 20px;
    text-align: center;
}

.menu form {
    display: flex;
    margin-left: auto;
    margin-right: 60px;
}

.menu button {
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    margin-top: -8px;
    margin-right: 5px;
    font-size: 15px;
}

.menu input {
    border: none;
    border-bottom: 1px solid #3c3c3c7f;
    width: 250px;
    margin-right: 10px;
    background-color: transparent;
    margin-top: -8px;
}

.contenu {
    color: antiquewhite;
    text-align: center;
    font-size: 38px;
    position: relative;
}

.contenu h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    margin: 0;
    margin-left: 450px;
    font-size: 140px;
    letter-spacing: -5px;
    font-weight: 500; /* Ajusté pour rendre le texte moins gras */
}


.header-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
}

/* 1ere partie */
.map-image {
    max-width: 60%;
    height: auto;
    display: block;  
    margin-left: auto;  /* Pousse l'image vers la droite */
    margin-right: 0;  /* Assure qu'il n'y a pas de marge à droite */
}

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    gap: 20px; 
    margin: 40px; 
}

.text-content {
    text-align: left; 
    font-size: 2rem; 
    line-height: 1; 
    font-family: 'Orbitron', sans-serif;
    font-weight: 700; 
    color: #555555; 
    text-shadow: 1px 1px 2px rgba(17, 0, 255, 0.5); 
}

/* 2eme partie */
.image1-text-container {
    position: relative; /* Permet de positionner les éléments enfants relativement à ce conteneur */
    width: 100%; /* Ajuste la largeur au conteneur parent */
    max-width: 100%; /* S'assure que l'image ne dépasse pas le conteneur */
}

.voiture {
    width: 100%; 
    height: auto;
}

.text-content1 {
    position: absolute; 
    top: 5%; 
    line-height: 0.8; 
    color: #ffffff; 
    text-align: left; 
    font-size: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
    padding: 50px;
}


.links {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.links a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    padding: 8px 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.links a:hover {
    background-color: #000000;
    color: #ffffff;
}

footer {
    color: #000000;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 25px;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
