body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

h1 {
    display: flex;
    justify-content: start;
    color: #fff;
    margin-left: 20px;
}
.container {
    display: flex;
    width: 800px;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.558);
    border-radius: 10px;
}

input, textarea {
    color: #000000;
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    font-size: 15px;
}

